.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.continent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.continent-img {
  display: flex;
  flex: 1;
  justify-content: center;
}

.continent-img img {
  height: 100px;
}

.continent-text {
  display: flex;
  flex: 1;
  justify-content: center;
}

.continent-title {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;  
  justify-content: center;
  width: 40%;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  padding: 10px;
}

.card-title {
margin: 0;
text-align: end;
}

.card-body {
  flex: 1;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.flag {
 width: 100px;
}

.inputTex {
  width: 50%;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
